@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------- Header */

header {
    margin: 0;
    
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #696969;
}

.navbar .navbar-toggler {
    border: 0;
}

.nav-item {
    margin: 0 0 0 5em;
}

.dropdown-menu {
    background-color: #696969;
}

.dropdown-item {
    color: #fff;
}

/*-------------------------------------------------------------- Carousel*/

.carousel-item {
    height: 800px;
    
}

.card-img-top {
    height: 250px;
}

.page-break {
    background-color:  #696969;

}


/*-------------------------------------------------------------- Footer*/

footer{
    height: 150px;
}
.social-networks {
    position: inline;
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}